html{
    background: white;
}
body{
    background-color: pink;
    background-image: url(pic.jfif);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: top right ;
    height: 500px;
    width: 500px;
}
h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    }
h3{
    color: blueviolet;
    font-variant:small-caps;
    font-weight: normal;
    font-size: 25px;
}
span{
    font-weight: normal;
}
p{
    color: darkgreen;
    font-weight: bold;
    font-size: 25px;
}
ul{
    color: crimson;
}
